@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
.header{
	padding: 8px 40px;
	background-color: #635854;
	border-bottom: solid 4px;
	border-color: #3596F5;
}
.contaner{
	max-width: 1280px;
	margin: auto;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav{
	margin: 0;
	padding: 0;
	list-style: none
}
.navlist{
	text-decoration: none;
	color: white;
	transition: 0.3s;
}
.navlist:hover{
	color: #3596F5;
	transition: 0.3s;
}
li{
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}
.phone{
	text-align: right;
	color: white;
	font-size: 14px;
}
.phonenumber{
	text-decoration: none;
	color: white;
	font-size: 17px;
	transition: 0.3s;
}
.phonenumber:hover{
	color: #3596F5;
	transition: 0.3s;
}
.main{
	display: flex;
}
.main-image{
	margin: 48px 0px 101px;
}
.main-info{
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	align-items: center;
}
.home-image path{
	opacity: 0;
	cursor: pointer;
	transition: 0.1s;
}
.home-image path:hover{
	opacity: 1;
	transition: 0.2s;
}
.main-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	max-height: 505px;
	margin-left: 107px;
}
.selectlist{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.counter-button{
	background-color: #fff;
	border: none;
}
.counter-arrow-down{
	transform: rotateX(180deg);
}
.counter-arrow:hover{
	cursor: pointer;
}
.counter-number{
	font-family: "Bebas Neue";
	font-weight: normal;
	font-size: 90px;
	color: #635854;
	margin: 15px 0;
}
.main-info-text{
	font-family: "Bebas Neue";
	font-weight: normal;
	font-size: 44px;
	color: #635854;
	text-transform: uppercase;
}
.golist{
	color: #fff;
	background-color: #3596F5;
	border-radius: 6px;
	border: none;
	padding: 16px 36px;
	transition: 0.1s;
}
.golist:hover{
	box-shadow: 5px 5px 10px #a4ccf1;
	cursor: pointer;
}